:root {
  --green-1: #f0fff0;
  --green-2: #e6ffe6;
  --green-3: #b3ffb3;
  --green-4: #80ff80;
  --green-5: #00ff00;
  --green-6: #10b619;
  --green-7: #009900;
  --green-8: #008000;
  --green-9: #006600;
}
